<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Dominik Migrała</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-47692315-56');
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
</head>
<body>

	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Dominik Migrała</h1>
			</div>

			<div class="intro-wrapper">
				{% include 'base/navbar.html' %}

				<div class="left-column">
					<img id="profile_pic" src="{% static 'images/profile_picture.jpg' %}">
					<h2 style="text-align: center;line-height: 0;">Personalize Theme</h2>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I am passionate developer. <br>I enjoy fulfilling my desires with coding</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h3>More about me</h3>
					<p>I build new projects as for me creating something from scratch is very exciting</p>
					<p>When I'm not busy with it I tend to develop my other skills and hobbies like chess and language studying.</p>
					<p>Currently learning: Javascript, React, Spanish</p>
					<p>Recently graduated with master degree in CS</p>
					<hr>
					<h3>TOP EXPERTISE</h3>
					<p>My focus is directed mostly on Python, Django and AI: <a target="_blank" href="{% static 'CV_Dominik_Migrała_English.pdf' %}">Download Resume</a></p>

					<div id="skills">
                        <ul>
                            <li>Python</li>
                            <li>Django</li>
                            <li>Javascript</li>
                            <li>Machine Learning</li>
                        </ul>

                        <ul>
                            <li>HTML/CSS/XML/JSON</li>
                            <li>GIT</li>
                            <li>MySQL/PostgreSQL</li>
                            <li>Linux</li>
                        </ul>

					</div>

				</div>

				<div class="social-links">
					<img id="social_img" src="{% static 'images/earth.jpg' %}">
					<h3>Find me on LinkedIn & GitHub</h3>

					<a target="_blank" href="https://www.linkedin.com/in/dominikmigrala/">LinkedIn: Dominik Migrała</a>
					<br>
					<a target="_blank" href="https://github.com/Rantoryu">Github: @Rantoryu</a>
				</div>
			</div>

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h4 style="text-align: center;">Some of my past projects</h4>
			<div class="post-wrapper">
				{% for post in posts %}
				<div>
					<div class="post">
						<img class="thumbnail" src="{{post.thumbnail.url}}">
						<div class="post-preview">
							<h6 class="post-title">{{post.headline}}</h6>
							<p class="post-intro">{{post.sub_headline}}</p>
							<a href="{%  url 'post' post.slug %}">Read More</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<p>
				<a href="{% url 'posts' %}">View More</a>
			</p>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Get In Touch</h3>

			<form id="contact-form" method="POST" action="{% url 'send_email' %}">
				{% csrf_token %}
				<a name="contact"></a>

				<label>Name</label>
				<input required class="input-field" type="text" name="name">

				<label>Subject</label>
				<input required class="input-field" type="text" name="subject">

				<label>Email</label>
				<input required class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea required class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section> 

	<script type="text/javascript">
		let static = "{% static 'css' %}"
	</script>

	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>