<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="default.css">
    </head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-47692315-56');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link id="theme-style" rel="stylesheet" type="text/css" href="">
    <body>
        <section class="s1">
            <div class="main-container">
                <div class="greeting-wrapper">
                    <h1>Hi, I'm Dominik</h1>
                    <p>Test sentence</p>
                    <a href="#">Example Link: #</a>
                </div>
                <div class="intro-wrapper">
                    <div class="nav-wrapper">
                        <div class="dots-wrapper">
                            <div id="dot-1" class="browser-dot"></div>
                            <div id="dot-2" class="browser-dot"></div>
                            <div id="dot-3" class="browser-dot"></div>
                        </div>

                        <ul id="navigation">
                            Nav
                        </ul>
                    </div>
                    <div class="left-column">
                        left-column
                    </div>
                    <div class="right-column">
                        right-column
                    </div>
                </div>
            </div>
        </section>
        <section class="s2"></section>
            <div class="main-container">
                About
            </div>
        </section>
        <section class="s2">
            <div class="main-container">
                Contact
            </div>
        </section>
    </body>
</html>