<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="default.css">
    </head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-47692315-56');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link id="theme-style" rel="stylesheet" type="text/css" href="">
    <body>
        <section class="s1">
            <div class="main-container">
                <div class="greeting-wrapper">
                    <h1>Hi, I'm Dominik</h1>
                    <p>Test sentence</p>
                    <a href="#">Example Link: #</a>
                </div>
                <div class="intro-wrapper">
                    <div class="nav-wrapper">
                        <div class="dots-wrapper">
                            <div id="dot-1" class="browser-dot"></div>
                            <div id="dot-2" class="browser-dot"></div>
                            <div id="dot-3" class="browser-dot"></div>
                        </div>

                        <ul id="navigation">
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="left-column">
                        <img id="profile_pic" src="/static/images/profile_picture.jpg">
                        <h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

                        <div id="theme-options-wrapper">
                            <div id="light-mode" class="theme-dot"></div>
                            <div id="blue-mode" class="theme-dot"></div>
                            <div id="green-mode" class="theme-dot"></div>
                            <div id="purple-mode" class="theme-dot"></div>
                        </div>
                        <p id="settings-note">*Theme settings will be saved for <br>your next visit</p>
                    </div>
                    <div class="right-column">
                        <div id="preview-shadow">
                            <div id="preview">
                                <div id="corner-tl" class="corner"></div>
                                <div id="corner-tr" class="corner"></div>
                                <h3>What I Do</h3>
                                <p>I am passionate developer, I enjoy coding</p>
                                <div id="corner-br" class="corner"></div>
                                <div id="corner-bl" class="corner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s2"></section>
            <div class="main-container">
                About
            </div>
        </section>
        <section class="s2">
            <div class="main-container">
                <div class="about-wrapper">
                    <div class="about-me">
                        <h4>More about me</h4>
                        <p>I build new projects as for me creating something from scratch is very exciting</p>
                        <p>When I'm not busy with it I tend to develop my other interests like chess and language studying.</p>
                        <p>Currently learning: Javascript, React, Spanish</p>
                        <hr>
                        <h4>TOP EXPERTISE</h4>
                        <p>Developer with primary focus on Python, Django and AI: <a target="_blank" href="resume.pdf">Download Resume</a></p>    
                    </div>

                    <div id="skills">
                        <ul>
                            <li>Python</li>
                            <li>Django</li>
                            <li>Javascript</li>
                            <li>Machine Learning</li>
                        </ul>

                        <ul>
                            <li>HTML/CSS/XML/JSON</li>
                            <li>GIT</li>
                            <li>MySQL/PostgreSQL</li>
                            <li>Linux</li>
                        </ul>
                    </div>
                    
                    <div class="social-links">
                        <img src="/static/images/profile_picture.jpg">
                        <h3>Find me on LinkedIn & GitHub</h3>
                        <a target="_blank" href="#">LinkedIn: Dominik Migrała</a>
                        <a target="_blank" href="#">Github: @Rantoryu</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>